@model Vehicle

<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a asp-controller="Vehicle" asp-action="Index">Vehicles</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"> 
            Delete
        </li>
    </ol>
</nav>

<h3 class="mt-4 mb-4">Delete Vehicle</h3>

<h4 class="mb-4">Are you sure you want to delete this vehicle?</h4>


<div>

    <!--Display the vehicle details -->
    <dl class="row">
         <dt class="col-sm-3">Make</dt>
        <dd class="col-sm-9">@Model.Make</dd>
        
        <dt class="col-sm-3">Model</dt>
        <dd class="col-sm-9">@Model.Model</dd>
        
        <dt class="col-sm-3">Registration</dt>
        <dd class="col-sm-9">@Model.Registration</dd>
        
        <dt class="col-sm-3">Date Of Registration</dt>
        <dd class="col-sm-9">@Model.DateOfReg.Year</dd>

        <dt class="col-sm-3">Age</dt>
        <dd class="col-sm-9">@Model.Age</dd>

        <dt class="col-sm-3">Fuel Type</dt>
        <dd class="col-sm-9">@Model.Fuel</dd>

        <dt class="col-sm-3">Body Type</dt>
        <dd class="col-sm-9">@Model.Body</dd>

        <dt class="col-sm-3">Transmission</dt>
        <dd class="col-sm-9">@Model.Transmission</dd>

        <dt class="col-sm-3">Engine Size</dt>
        <dd class="col-sm-9">@Model.EngineSize</dd>
        
        <dt class="col-sm-3">No. of Doors</dt>
        <dd class="col-sm-9">@Model.Doors</dd>
    </dl>

    <form asp-action="DeleteConfirm" method="POST">
        <input type="hidden" name="id" value=@Model.VehicleId />
        
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        </div>
    </form>

</div>