@{
    ViewData["Title"] = "Vehicle Details";
}

@model Vehicle

<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a asp-controller="Vehicle" asp-action="Index">Vehicles</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"> 
            Details
        </li>
    </ol>
</nav>

<h3 class="mt-4 mb-4">Vehicle Details</h3>

<div class="container">
    <div class="row">
    <div class="col-7">
        <dl class="row">
                <dt class="col-sm-3">Make</dt>
                <dd class="col-sm-9">@Model.Make</dd>
                
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">@Model.Model</dd>
                
                <dt class="col-sm-3">Year</dt>
                <dd class="col-sm-9">@Model.DateOfReg.Year</dd>
                
                <dt class="col-sm-3">Registration</dt>
                <dd class="col-sm-9">@Model.Registration</dd>

                <dt class="col-sm-3">Transmission</dt>
                <dd class="col-sm-9">@Model.Transmission</dd>

                <dt class="col-sm-3">CO2 Rating</dt>
                <dd class="col-sm-9">@Model.C02</dd>

                <dt class="col-sm-3">Fuel Type</dt>
                <dd class="col-sm-9">@Model.Fuel</dd>

                <dt class="col-sm-3">Body Type</dt>
                <dd class="col-sm-9">@Model.Body</dd>

                <dt class="col-sm-3">Doors</dt>
                <dd class="col-sm-9">@Model.Doors</dd>

                <dt class="col-sm-3">CC</dt>
                <dd class="col-sm-9">@Model.EngineSize</dd>
        </dl> <!-- row -->
    </div> <!-- col-7 -->

    <div class="col-5">
        <img class="img-fluid img-thumbnail border-dark" src="@Model.Photo"> 


        <a class="btn btn-danger btn-sm mt-2" asp-action="Index">
            <b>Vehicles </b>
            <svg class="bi bi-card-list" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                <circle cx="3.5" cy="5.5" r=".5"/>
                <circle cx="3.5" cy="8" r=".5"/>
                <circle cx="3.5" cy="10.5" r=".5"/>
            </svg>
        </a>

        <a class="btn btn-primary btn-sm mt-2" asp-action="Edit" asp-route-id="@Model.VehicleId">
            <b>Edit </b>
            <svg class="bi bi-pencil-square" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
            </svg>
        </a>

    </div> <!-- Car Photo & buttons -->

</div> <!-- row -->
</div> <!-- container -->

<!-- Partial rendering of vehicles services --> 
<partial name="_Services" />

<!-- Create Service Button -->
<div>
     <a asp-action="CreateService" asp-route-id=@Model.VehicleId class="btn btn-primary btn-sm">Add Service</a>
</div>